.container {
    max-width: 480px;
    margin-top: 180px;
    margin-inline: auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin-bottom: 80px;
}

.title {
    text-align: center;
}

.button {
    width: fit-content;
    align-self: center;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.nav a {
    text-decoration: none;
    color: var(--colors-interface-accent);
}

.nav a:hover {
    text-decoration: underline;
}