.burgerConstructor {
    padding-block: 20px;
}

.wrapper {
    margin-top: 80px;

}

.order {
    display: flex;
    justify-content: right;
    align-items: center;

    margin-inline: 16px;
}

.top, .bottom {
    display: block;
    padding-left: 16px;
    padding-right: 8px;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 16px;

    padding-left: 16px;
    padding-right: 8px;

    max-height: calc(100vh - 520px);
    overflow-y: auto;

    scroll-snap-type: y mandatory;
}

.inner::-webkit-scrollbar {
    width: 8px;
}

.inner::-webkit-scrollbar-track {
    background-color: var(--background-element);
}

.inner::-webkit-scrollbar-thumb {
    background-color: var(--text-inactive-color);
}

.head {
    border-radius: 88px 88px 40px 40px;
    margin-left: 32px;
    margin-right: 16px;
}

.body {
    border-radius: 40px;
    margin-left: 32px;
}

.foot {
    border-radius: 40px 40px 88px 88px;
    margin-left: 32px;
    margin-right: 16px;
}

.head, .body, .foot {
    width: 100%;
    max-width: 536px;
    min-height: 80px;
    background-color: var(--background);

    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
}