.item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    width: calc(50% - 12px);
    background-color: var(--background-alt);
    border-radius: 16px;

    cursor: pointer;
}

.item img {
    width: 240px;
    display: block;
}

.listItem {
    display: flex;
}

.name {
    text-align: center;
}