.link {
    display: flex;
    height: fit-content;

    text-decoration: none;

    border-radius: var(--common-border-radius-s);

    /* transition: var(--common-transition); */

    cursor: pointer;

    user-select: none;
}

/* .link span {
    transition: all 0.2s ease;
}

.link svg {
    transition: all .2s ease;
}

.link:hover span {
    color: #fff;
}
.link:hover svg {
    fill: #fff;
} */

.link:hover {
    background-color: var(--background-alt);
}